.card__container{
    position: relative; /*relativo ao conteúdo que está dentro dele*/
    border: 1px solid #3e4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden; /*se a imagem for maior que o tamanho da caixa, não vai exceder*/
    margin-top: 10px;
}

.card__image{
    min-width: 100%;
    min-height: 100%;
    transition: transform .8s; /*efeito transform leva 8 seg*/
}

.card__image:hover{
    transform: scale(1.1); /*o efeito de transform aumenta em 110% */
}