<div class="home__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="EXCLUSIVE"
        gamePrice="-50% R$ 59,99"
        gameConsole="DIGITAL | PS4">
    </app-card>
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="DIGITAL"
        gamePrice="R$ 299,99"
        gameConsole="DIGITAL | PS4">
    </app-card>
    <app-card 
        gameCover="assets/bt-bad-company-2.jpg"
        gameLabel="NEW"
        gamePrice="R$ 89,99"
        gameConsole="PS4">
    </app-card>
</div>

